header{
    text-align: center;
    color:darkblue;
    background-color: whitesmoke;

}
article{
margin-top: 10px;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #111;
}
.list{

    border-style: solid;
    list-style-type: none;


}
footer {
    text-align: center;
    clear: both;

}
.site{
    margin-top: 16px;
    float: left;
    width: 220px;
    height: 600px;
    background-color:darkslateblue;
    text-align: center;
}
section{
    float: left;
    width: 500px;
    height: auto;
    margin-left: 300px;
}


